<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JustEatTest</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
</body>
</html>
<script type="text/javascript" src="~/JustEatTest/dist/JustEatTest/runtime.js"></script>
<script type="text/javascript" src="~/JustEatTest/dist/JustEatTest/polyfills.js"></script>
<script type="text/javascript" src="~/JustEatTest/dist/JustEatTest/styles.js"></script>
<script type="text/javascript" src="~/JustEatTest/dist/JustEatTest/vendor.js"></script>
<script type="text/javascript" src="~/JustEatTest/dist/JustEatTest/main.js"></script>
